@(generatedText : String = "")

@main("Markov chain bullshitter") {

	<form action="/bullshit" name="bullshitForm" method="post">
		<label for="source">Source text:</label>
		<input type="textarea" id="source" name="source" /><br/>
		<label for="startingWords">Starting words:</label>
		<input type="text" id="startingPoint" name="startingPoint" /><br/>
		<input type="submit" />
	</form>

	@(generatedText)

}
